// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

// Set your brand colors
$purple: #8a4d76;
$grey-light: #35353b;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$control-border-width: 2px;

@import "~bulma";
@import "spacing-helpers";

pre {
    box-shadow: $box-shadow;
    border-radius: 10px;
}

// bulma overrides
.number {
    all: unset;
}
