// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

// Set your brand colors
$purple: #8a4d76;
$grey-light: #35353b;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$link: $purple;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$navbar-background-color: transparent;

@import "bulma";
@import "spacing-helpers";
@import "loaders.css/src/animations/line-scale-pulse-out-rapid.scss";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.loader-hidden {
    display: none;
}
.loader-active {
    display: block;
}

pre {
    box-shadow: $box-shadow;
    border-radius: 10px;
}

// bulma overrides
.number,
.loader {
    // styles from Bulma that I don't want
    all: unset;
}

.custom-card {
    background: rgba(255, 255, 255, 0.07);
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;

    border-radius: 10px;
    &:hover {
        transform: translateX(0.1rem);
    }
}

a:hover {
    color: lighten($link, 5%);
}
