@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

@tailwind base;

/* https://tailwindcss.com/docs/adding-base-styles/#using-css */
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
h4 {
    @apply text-base;
}
h5 {
    @apply text-sm;
}
h6 {
    @apply text-xs;
}

@tailwind components;

@tailwind utilities;

html {
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    font-family: "Nunito", serif;
}

pre {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.15);
    border-radius: 10px;
}

.lift-on-hover {
    transition: all 0.1s ease-in-out;
}

.lift-on-hover:hover {
    transform: translateY(-0.1rem);
}

.card {
    background: rgba(68, 68, 68, 0.03);
}
