.form {
    input,
    textarea {
        background: #ffffff;
    }

    button {
        box-shadow: 0 2px 4px rgba(10, 10, 10, 0.15);
        border: 0;
        border: 1px solid #808080;
        margin-top: 0.3rem;
        float: right;
    }

    .enabledButton {
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translateY(-3px);
        }
    }
}
