.blog-card {
    transition: all 0.2s ease-in-out;

    border-radius: 10px;
    &:hover {
        transform: translateX(0.1rem);
    }
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
