.container {
    // position: absolute;
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// allows content to grow leaving just enough space for the footer
.content {
    position: absolute;
    flex-grow: 1;
    z-index: 2;
}

.a {
    position: absolute;
    fill: #26272d;
}

.svg {
    height: 600px;
    flex: 0 0 auto;
    z-index: 0;

    @media only screen and (min-width: 768px) {
        height: 700px;

        flex-direction: row;
        overflow: hidden;
        padding-bottom: 0;
    }
}
