.project-card {
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateX(0.1rem);
    }
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media only screen and (min-width: 768px) {
    /* Styles */
    .card-top {
        flex-direction: row;
    }

    .tags {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        max-width: 400px;
    }
}
